/* xs */
@media (max-width: 575px) {
    #subscribe{
        padding: 9px 10px !important;
    }
    #email::placeholder{
        padding-left: 0 !important;
        margin: 0;
        font-size: .629rem;
        line-height: 1.2;
    }
}
/* sm */
@media (min-width: 576px) {
    
}

/* Md */
@media (min-width: 768px) {}
/* ############################ */
@media (max-width: 991px) {
    
}
/* ############################ */
/* Lg */
@media (min-width: 992px) {}

/* xl */
@media (min-width: 1200px) {}

/* xxl */
@media (min-width: 1400px) {}